langchain-groq
langchain-openai
pydantic
google-genai
langgraph
requests
fastapi
uvicorn 
python-dotenv
streamlit
easyocr
opencv-python
pillow
django
djangorestframework
markdown      
django-filter
drf-spectacular
djangorestframework-simplejwt
asgiref
uvicorn
